body{
	background-color: #F5BB00;
    color: #000000;
    font-family: Fedra Sans;
}
.logo {
     width: 75px;
    height: 100px;
    background-image: url(./images/logo.png);
    background-size:cover;
    background-position:center;
    margin-left: -5px;
    margin-top: -18px;
    margin-bottom: -8px;

}
.burger {
    position: absolute;
    right: 0;
    top: 0px;
    width: 40px;
    height: 40px;
    margin: 20px 25px 0px 0px;
    background-size: cover;
    background-image: url(./images/menu.png);
   
    cursor: pointer;
    display: block;
}

input[type="checkbox"]  {
    display: none;
}

input + .burger + div {
    display: none;
}

input:checked + .burger + div {
    display:block;
}

.menu {
    position: relative;
    right: 0;
    
    
    display: none;
    background-color: #212121;
}

.menu-section {
    font-family:Fedra Sans;
    color: #ffffff;
    font-size: 24px;
    margin: 10px 20px 10px 20px;
}
.title{
    color: #000000;
    font-size: 46px;
    text-align: center;
    margin-bottom: 15px;
    font-style: bolder;
}
.info{
    font-size: 10px;
    color: black;
    text-align: center;
}
.name{
    margin-top: 15px;
    font-size: 30px;
    font-style: bold;
    text-align: left;
    float: left;
    margin-bottom: 7px;
}
.line{
    background-color: #016FB9;
    
    height: 38px;
    float: left;
    color: #000000;
    font-size: 25px;
    font-style: bold;
    text-align: right;
    margin-bottom: 15px;
}
  a {
    color: white; 
   }
   a:visited {
    color: white; 
   }
   a:active {
    color: white; 
   }