body{
	background-color: #F5BB00;
    color: #000000;
	font-size: 24px;
    font-family: Fedra San;
}
.logo {
    width: 150px;
    height: 200px;
    background-image: url(./images/logo.png);
    background-size:cover;
    background-position:center;
    margin-left: -15px;
    margin-top: -28px;
    margin-bottom: -10px;
}
.menu {
    position: absolute;
    right: 0;
    top: 35px;
    padding: 0px 25px 0px 0px;
}

.burger {

    display: none;
}

input[type="checkbox"]  {
    display: none;
}

.menu-section {
    font-family: Fedra Sans;
    color: #000000;
    font-size: 24px;
    display: inline-block;
    margin: 20px 0px 0px 50px;
}
.name{
    color: #000000;
    font-size: 65px;
    font-style: bolder;
    text-align: center;
    margin-bottom: 15px;
}
.info{
    font-size: 24px;
    color: #000000;
    text-align: left;
    margin: 0 15px 0px 15px;
}
.video-space{
  overflow: hidden;
  position: relative;
  width: 92%;
  height: 700px; 
  float: left;
}
.video-space iframe{
   margin: 20px 60px 20px 120px;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    display: flex;
  align-items: center;
}
.video{
    width: 100%;
height: 390px;

}
  a {
    color: white; 
   }
   a:visited {
    color: white; 
   }
   a:active {
    color: white; 
   }

.container {
   
   margin:auto;

}
.gallery {
    width: 98%;
    display: flex;
    flex-direction: row;
margin: auto;
justify-content: space-between;
    
}

.gallery-item {
   
    margin: 10px;
    box-shadow: 10px 10px 10px #a1a1a1;
    overflow: hidden;
}

.gallery-image {
    
    width: 320px;
    height: 250px;
    object-fit: cover;
    transition: transform 400ms ease-out;
}

.gallery-image:hover {
    transform: scale(1.1);
}
.twitter{
    background-image: url(./images/twitter.png);
    width: 50px;
    height: 50px;
    background-size:cover;
    background-position:center;
margin: auto;
}
.map-space{
  overflow: hidden;
  position: relative;
  width: 92%;
  height: 700px; 
  float: left;
}
.map-space iframe{
   margin: 20px 60px 20px 120px;
    width: 91%;
    height: 100%;
    left: 0;
    right: 0;
    display: flex;
  align-items: center;
}
.map{
    width: 100%;
height: 350px;

}
.place{
    font-size: 24px;
    color: #000000;
    text-align: center;
    position: relative;
    margin: 20px 200px 10px 200px;

}